# =========================
# Do NOT upload data files
# =========================
data/
data-processed/

# =========================
# Do NOT upload generated results
# =========================
outputs/

# =========================
# R / RStudio clutter
# =========================
.Rproj.user/
.Rhistory
.RData
.Ruserdata

!data/.gitkeep
